/* Google Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #1e40af;
  --color-secondary: #0d9488;
  --color-accent: #f59e0b;
  --text-accent: #334155;
  --color-base-200: #f8fafc;
  --color-base-300: #e2e8f0;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #93c5fd;
  --color-secondary: #5eead4;
  --color-accent: #facc15;
  --text-accent: #f1f5f9;
  --color-base-200: #1e293b;
  --color-base-300: #0f172a;
}

* {
  font-family: "Inter", sans-serif;
}
